<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<meta name="theme-color" content="#ffffff" />
<meta name="android-status-bar-color" content="#ffffff" />
<meta name="android-navigation-bar-color" content="#ffffff" />

<link rel="stylesheet" href="css/swiper.min.css" />
<link rel="stylesheet" href="css/fancybox.min.css" />
<link rel="stylesheet" href="css/styles.css" />

<link rel="shortcut icon" type="image/x-icon" href="/favicon.ico" />
<link rel="icon" type="image/svg+xml" href="/favicon.svg">