<div class="block-recommend block1">
    <div class="container">
        <div class="block-recommend__content">
            <div class="heading-complex">
                <h2 class="title2">
                    Рекомендуем
                </h2>
                <div class="heading-complex__buttons">
                    <a href="./" class="btn btn-desc">Помощь менеджера</a>
                    <a href="./" class="btn btn-bg">Услуги+</a>
                    <div class="heading-complex-meatballs">
                        <div class="heading-complex-meatballs__icon">
                            <img loading="lazy" src="img/icons/meatballs.svg" alt="">
                        </div>
                        <div class="heading-complex-meatballs__dropdown">
                            <ul>
                                <li>
                                    <a href="./">Помощь менеджера</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
            <div class="block-recommend__cards">
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo9.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                1С Онлайн
                            </div>
                            <p>
                                Базовый subtitle в две и более строки
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo10.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                Kaspersky Standart
                            </div>
                            <p>
                                3 устройства
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo11.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                1С Фреш
                            </div>
                            <p>
                                1С Предприятие 8v удаленного доступа
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo9.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                1С Онлайн
                            </div>
                            <p>
                                Базовый subtitle в две и более строки
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo7.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                Microsoft 360
                            </div>
                            <p>
                                Базовый subtitle в две и более строки
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo12.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                Microsoft 360
                            </div>
                            <p>
                                Базовый subtitle в две и более строки
                            </p>
                        </div>
                    </a>
                </div>
                <div class="card-programs">
                    <a href="./" class="card-programs__items">
                        <img loading="lazy" src="img/logo/logo13.webp" alt="" class="card-programs__pic1">
                        <div class="card-programs__item">
                            <div class="card-programs__title">
                                Power BI
                            </div>
                            <p>
                                Базовый subtitle в две и более строки
                            </p>
                        </div>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>