<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ЛК - базы данных</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-cabinet block-cabinet-databases">
                <div class="container">
                    <div class="block-cabinet__content">
                        <div class="cabinet-menu">
                            <div class="cabinet-menu__body">
                                <div class="cabinet-menu__column">
                                    <ul>
                                        <li>
                                            <span class="cabinet-menu__link ">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/cabinet.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/cabinet-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    <span>Личный</span> кабинет
                                                </div>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/documents.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/documents-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                    <div class="cabinet-menu__circle"></div>
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Счета<span>, документы</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link active">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/databases.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/databases-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Базы <span>данных</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/users.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/users-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Пользователи
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/support.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/support-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Поддержка
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-service">
                                    <ul>
                                        <li>
                                            <a href="./" class="cabinet-menu__link link-service">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/service.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/service-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__titles">
                                                    Услуги+
                                                    <div class="cabinet-menu__number">
                                                        <span>843</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-download">
                                    <ul>
                                        <li>
                                            <a href="./" download="#download" class="cabinet-menu__link link-download">
                                                <div class="cabinet-menu__icon">
                                                    <svg aria-hidden="true" width="14" height="17">
                                                        <use xlink:href="img/sprite.svg#download"></use>
                                                    </svg>
                                                </div>
                                                Программа для<br> входа 1С
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-cabinet__body body-long">
                            <div class="block-cabinet__columns">
                                <div class="block-cabinet__titles">
                                    <div class="block-cabinet__title">
                                        Мои базы данных
                                    </div>
                                    <a href="./" data-popup="#add-base" class="btn btn-bg">
                                        <img src="img/icons/plus2.svg" alt="">
                                        <span>Добавить базу</span>
                                    </a>
                                </div>
                                <div class="block-cabinet__column">
                                    <div class="cabinet-objects">
                                        <div class="cabinet-objects-top">
                                            <div class="cabinet-objects-top__titles">
                                                <div class="cabinet-objects-top__title">
                                                    Название БД №1
                                                </div>
                                                <ul>
                                                    <li>Серверный тип</li>
                                                    <li>
                                                        dev-group-ka : pwpjvav_avtocenter_test
                                                    </li>
                                                </ul>
                                            </div>
                                            <div class="cabinet-objects-top__buttons">
                                                <div class="databases-disk-space">
                                                    <div class="databases-disk-space__title">
                                                        <span> 1.8 из 5 ГБ</span>
                                                    </div>
                                                    <div class="databases-disk-space__line">
                                                        <span style="width: 30%;"></span>
                                                    </div>
                                                </div>
                                                <div class="cabinet-objects-top__picker">
                                                    <svg aria-hidden="true" width="28" height="28">
                                                        <use xlink:href="img/sprite.svg#picker"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cabinet-objects-bottom">
                                            <div class="cabinet-objects-bottom__contents">
                                                <div class="cabinet-objects-bottom__body">
                                                    <div class="cabinet-objects-bottom__list">
                                                        <div class="cabinet-objects-bottom__main">
                                                            <ul>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#rename">
                                                                            </use>
                                                                        </svg>
                                                                        Переименовать
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#refresh">
                                                                            </use>
                                                                        </svg>
                                                                        Обновить <span>(авто)</span>
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#users">
                                                                            </use>
                                                                        </svg>
                                                                        Доступ
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#databases">
                                                                            </use>
                                                                        </svg>
                                                                        Архив
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#trash">
                                                                            </use>
                                                                        </svg>
                                                                        Удалить
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#download2">
                                                                            </use>
                                                                        </svg>
                                                                        Скачать
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cabinet-objects-bottom__more">
                                                            <div class="cabinet-objects-bottom__titles">
                                                                <div class="cabinet-objects-bottom__arrow">
                                                                    <svg aria-hidden="true" width="6" height="9">
                                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                                    </svg>
                                                                </div>
                                                                <span class="desc">Еще</span>
                                                                <span class="mob">Настройки БД</span>
                                                            </div>
                                                            <div class="cabinet-objects-bottom__dropdown">
                                                                <ul class="cabinet-objects-bottom__more-list">

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="./" class="btn">
                                                    <span>Открыть</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cabinet__column">
                                    <div class="cabinet-objects">
                                        <div class="cabinet-objects-top">
                                            <div class="cabinet-objects-top__titles">
                                                <div class="cabinet-objects-top__title title-two">
                                                    Название БД №2.<br> Если название длинное, то пишем в две строки
                                                </div>
                                                <ul>
                                                    <li>Серверный тип</li>
                                                </ul>
                                            </div>
                                            <div class="cabinet-objects-top__buttons">
                                                <div class="databases-disk-space">
                                                    <div class="databases-disk-space__title">
                                                        <span>1.8 из 5 ГБ</span>
                                                        <span>+250₸</span>
                                                    </div>
                                                    <div class="databases-disk-space__line">
                                                        <span style="width: 80%;"></span>
                                                    </div>
                                                </div>
                                                <div class="cabinet-objects-top__picker">
                                                    <svg aria-hidden="true" width="28" height="28">
                                                        <use xlink:href="img/sprite.svg#picker"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cabinet-objects-bottom">
                                            <div class="cabinet-objects-bottom__contents">
                                                <div class="cabinet-objects-bottom__body">
                                                    <div class="cabinet-objects-bottom__list">
                                                        <div class="cabinet-objects-bottom__main">
                                                            <ul>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#rename">
                                                                            </use>
                                                                        </svg>
                                                                        Переименовать
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#refresh">
                                                                            </use>
                                                                        </svg>
                                                                        Обновить
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#users">
                                                                            </use>
                                                                        </svg>
                                                                        Доступ
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#databases">
                                                                            </use>
                                                                        </svg>
                                                                        Архив
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#trash">
                                                                            </use>
                                                                        </svg>
                                                                        Удалить
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#download2">
                                                                            </use>
                                                                        </svg>
                                                                        Скачать
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cabinet-objects-bottom__more">
                                                            <div class="cabinet-objects-bottom__titles">
                                                                <div class="cabinet-objects-bottom__arrow">
                                                                    <svg aria-hidden="true" width="6" height="9">
                                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                                    </svg>
                                                                </div>
                                                                <span class="desc">Еще</span>
                                                                <span class="mob">Настройки БД</span>
                                                            </div>
                                                            <div class="cabinet-objects-bottom__dropdown">
                                                                <ul class="cabinet-objects-bottom__more-list">

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="./" class="btn">
                                                    <span>Открыть</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cabinet__column">
                                    <div class="cabinet-objects">
                                        <div class="cabinet-objects-top">
                                            <div class="cabinet-objects-top__titles">
                                                <div class="cabinet-objects-top__title">
                                                    Название БД №3
                                                </div>
                                                <ul>
                                                    <li>Серверный тип</li>
                                                </ul>
                                            </div>
                                            <div class="cabinet-objects-top__buttons">
                                                <div class="databases-disk-space">
                                                    <div class="databases-disk-space__title">
                                                        <span>1.8 из 5 ГБ</span>
                                                    </div>
                                                    <div class="databases-disk-space__line">
                                                        <span style="width: 80%;"></span>
                                                    </div>
                                                </div>
                                                <div class="cabinet-objects-top__picker">
                                                    <svg aria-hidden="true" width="28" height="28">
                                                        <use xlink:href="img/sprite.svg#picker"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cabinet-objects-bottom">
                                            <div class="cabinet-objects-bottom__contents">
                                                <div class="cabinet-objects-bottom__body">
                                                    <div class="cabinet-objects-bottom__list">
                                                        <div class="cabinet-objects-bottom__main">
                                                            <ul>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button disabled">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#rename">
                                                                            </use>
                                                                        </svg>
                                                                        Переименовать
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button disabled">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#refresh">
                                                                            </use>
                                                                        </svg>
                                                                        Обновить <span>(авто)</span>
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button disabled">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#users">
                                                                            </use>
                                                                        </svg>
                                                                        Доступ
                                                                    </button>
                                                                </li>
                                                                <li>
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#databases">
                                                                            </use>
                                                                        </svg>
                                                                        Архив
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#trash">
                                                                            </use>
                                                                        </svg>
                                                                        Удалить
                                                                    </button>
                                                                </li>
                                                                <li class="desc">
                                                                    <button type="button"
                                                                        class="cabinet-objects-bottom__button">
                                                                        <svg aria-hidden="true" width="20" height="20">
                                                                            <use xlink:href="img/sprite.svg#download2">
                                                                            </use>
                                                                        </svg>
                                                                        Скачать
                                                                    </button>
                                                                </li>
                                                            </ul>
                                                        </div>
                                                        <div class="cabinet-objects-bottom__more">
                                                            <div class="cabinet-objects-bottom__titles">
                                                                <div class="cabinet-objects-bottom__arrow">
                                                                    <svg aria-hidden="true" width="6" height="9">
                                                                        <use xlink:href="img/sprite.svg#arrow1"></use>
                                                                    </svg>
                                                                </div>
                                                                <span class="desc">Еще</span>
                                                                <span class="mob">Настройки БД</span>
                                                            </div>
                                                            <div class="cabinet-objects-bottom__dropdown">
                                                                <ul class="cabinet-objects-bottom__more-list">

                                                                </ul>
                                                            </div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <a href="./" class="btn">
                                                    <span>Открыть</span>
                                                </a>
                                            </div>
                                            <div class="cabinet-objects-changes">
                                                <div class="cabinet-objects-changes__title">
                                                    Запланированные изменения
                                                </div>
                                                <ul>
                                                    <li>
                                                        <div class="cabinet-objects-changes__delete">
                                                            <svg aria-hidden="true" width="13" height="13">
                                                                <use xlink:href="img/sprite.svg#close1"></use>
                                                            </svg>
                                                        </div>
                                                        <span>
                                                            Переименование “Название БД №3” → “Название БД №33”
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <div class="cabinet-objects-changes__delete">
                                                            <svg aria-hidden="true" width="13" height="13">
                                                                <use xlink:href="img/sprite.svg#close1"></use>
                                                            </svg>
                                                        </div>
                                                        <span>
                                                            Доступ польвателя “Ирина Охлопкова - irinaokhlopkova” →
                                                            недоступно
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <div class="cabinet-objects-changes__delete">
                                                            <svg aria-hidden="true" width="13" height="13">
                                                                <use xlink:href="img/sprite.svg#close1"></use>
                                                            </svg>
                                                        </div>
                                                        <span>
                                                            Обновление базы данных в ближайшее время
                                                        </span>
                                                    </li>
                                                    <li>
                                                        <div class="cabinet-objects-changes__delete">
                                                            <svg aria-hidden="true" width="13" height="13">
                                                                <use xlink:href="img/sprite.svg#close1"></use>
                                                            </svg>
                                                        </div>
                                                        <span>
                                                            Доступ пользователей изменены. Бестерекова Гаухар -
                                                            gbesterekova → доступно Ирина Охлопкова - irinaokhlopkova →
                                                            недоступно
                                                        </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cabinet__column">
                                    <div class="cabinet-objects">
                                        <div class="cabinet-objects-top top-other">
                                            <div class="cabinet-objects-top__titles">
                                                <div class="cabinet-objects-top__title title-three">
                                                    Название БД №4.<br> Ограниченные функции БД для пользователя
                                                </div>
                                            </div>
                                            <div class="cabinet-objects-top__buttons">
                                                <a href="./" class="btn">
                                                    <span>Открыть</span>
                                                </a>
                                                <div class="cabinet-objects-top__picker">
                                                    <svg aria-hidden="true" width="28" height="28">
                                                        <use xlink:href="img/sprite.svg#picker"></use>
                                                    </svg>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-cabinet__bottom">
                                    <a href="./" data-popup="#add-base" class="btn">
                                        <svg aria-hidden="true" width="18" height="18">
                                            <use xlink:href="img/sprite.svg#plus3"></use>
                                        </svg>
                                        <span>Добавить базу</span>
                                    </a>
                                    <div class="pagging">
                                        <a class="pagging__item pagging__item_active" href="./">1</a>
                                        <a class="pagging__item" href="./">2</a>
                                        <a class="pagging__item" href="./">3</a>
                                        <a class="pagging__item" href="./">4</a>
                                        <a href="./" class="pagging__arrow pagging_arrow-next">
                                            <svg aria-hidden="true" width="7" height="11">
                                                <use xlink:href="img/sprite.svg#arrow1"></use>
                                            </svg>
                                        </a>
                                        <a href="./" class="pagging__arrow pagging_arrow-last">
                                            <svg aria-hidden="true" width="11" height="11">
                                                <use xlink:href="img/sprite.svg#arrow4"></use>
                                            </svg>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-service-recommend">
                                <div class="block-service-recommend__top">
                                    <h2 class="title2">
                                        Возможно, вам пригодятся следующие услуги:
                                    </h2>
                                    <a href="./" class="link">
                                        <span>все услуги</span>
                                    </a>
                                </div>
                                <div class="block-service-recommend__body">
                                    <div class="block-service-recommend__column">
                                        <div class="block-service-recommend__items">
                                            <div class="block-service-recommend__icon">
                                                <svg aria-hidden="true" width="54" height="56">
                                                    <use xlink:href="img/sprite.svg#database-icon"></use>
                                                </svg>
                                            </div>
                                            <div class="block-service-recommend__item">
                                                <div class="block-service-recommend__title">
                                                    Первоначальная настройка
                                                </div>
                                                <p>
                                                    Дополнительный текст об услуге кратко или в пару строку. Можно
                                                    уместить
                                                    в одну строчку.
                                                </p>
                                                <div class="block-service-recommend__bottom">
                                                    <div class="block-service-recommend__prices">
                                                        <div class="block-service-recommend__price">
                                                            10 000 ₸
                                                        </div>
                                                    </div>
                                                    <a href="./" class="btn">
                                                        <span>Заказать</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-service-recommend__column">
                                        <div class="block-service-recommend__items">
                                            <div class="block-service-recommend__icon">
                                                <svg aria-hidden="true" width="51" height="54">
                                                    <use xlink:href="img/sprite.svg#tax"></use>
                                                </svg>
                                            </div>
                                            <div class="block-service-recommend__item">
                                                <div class="block-service-recommend__title">
                                                    Настройка налоговой отчетности
                                                </div>
                                                <p>
                                                    Базовый подзаголовок в две и более строки
                                                </p>
                                                <div class="block-service-recommend__bottom">
                                                    <div class="block-service-recommend__prices">
                                                        <div class="block-service-recommend__price">
                                                            15 000 ₸
                                                        </div>
                                                    </div>
                                                    <a href="./" class="btn">
                                                        <span>Заказать</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-service-recommend__column">
                                        <div class="block-service-recommend__items">
                                            <div class="block-service-recommend__icon">
                                                <svg aria-hidden="true" width="57" height="53">
                                                    <use xlink:href="img/sprite.svg#esf"></use>
                                                </svg>
                                            </div>
                                            <div class="block-service-recommend__item">
                                                <div class="block-service-recommend__title">
                                                    Сервис 1С ЭСФ
                                                </div>
                                                <p>
                                                    Дополнительный текст об услуге кратко или в пару строку. Можно
                                                    уместить
                                                    в одну строчку.
                                                </p>
                                                <div class="block-service-recommend__bottom">
                                                    <div class="block-service-recommend__prices">
                                                        <div class="block-service-recommend__price">
                                                            600 ₸
                                                        </div>
                                                        <span>оплата<br>
                                                            в месяц</span>
                                                    </div>
                                                    <a href="./" class="btn disabled">
                                                        <span>Заказать</span>
                                                    </a>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="add-base" aria-hidden="false" class="popup popup-add-base">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div class="popup__top">
                    <div class="popup__titles">
                        <div class="popup__title">
                            Добавить базу
                        </div>
                    </div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <div class="popup-add-base__buttons">
                    <a href="./" class="btn">
                        <svg aria-hidden="true" width="24" height="21">
                            <use xlink:href="img/sprite.svg#download3"></use>
                        </svg>
                        <span>Загрузить свою БД</span>
                    </a>
                    <a href="./" data-popup="#create-new-base" class="btn btn-bg">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#plus3"></use>
                        </svg>
                        <span>Создать новую БД</span>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <div id="create-new-base" aria-hidden="false" class="popup popup-add-base">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div class="popup__top">
                    <div class="popup__titles">
                        <div class="popup__title">
                            Создать новую БД
                        </div>
                    </div>
                    <div data-close class="popup__close">
                        <svg aria-hidden="true" width="20" height="20">
                            <use xlink:href="img/sprite.svg#close1"></use>
                        </svg>
                    </div>
                </div>
                <form action="#" class="popup-add-base__body">
                    <div class="form">
                        <div class="form__inputs">
                            <div class="form__input">
                                <label for="name1">
                                    Название базы данных<span class="placeholder">*</span>
                                </label>
                                <input data-required id="name1" autocomplete="off" type="text" name="form[]"
                                    placeholder="Например: Бухгалтерия ООО «Ромашка»" value="" class="input">
                            </div>
                            <div class="form__input">
                                <label for="conf1">
                                    Конфигурация
                                </label>
                                <div class="form-select">
                                    <div class="form-select__titles">
                                        <span>Бухгалтерия для Казахстана, редакция 3</span>
                                        <div class="form-select__arrow"></div>
                                    </div>
                                    <div class="form-select__dropdown">
                                        <div data-simplebar class="form-select__simplebar">
                                            <div class="form-select__body">
                                                <div class="form-select__column">
                                                    <div class="form-select__title">
                                                        Типовые конфигурации для Казахстана
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <a href="./">
                                                                Бухгалтерия для Казахстана, редакция 3
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="./">Документооборот</a>
                                                        </li>
                                                        <li>
                                                            <a href="./">
                                                                Зарплата и управление персоналом для Казахстана,
                                                                редакция 3
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="./">Комплексная автоматизация для Казахстана</a>
                                                        </li>
                                                        <li>
                                                            <a href="./">Розница для Казахстана 2.3</a>
                                                        </li>
                                                        <li>
                                                            <a href="./">
                                                                Управление небольшой фирмой для Казахстана
                                                            </a>
                                                        </li>
                                                    </ul>
                                                </div>
                                                <div class="form-select__column">
                                                    <div class="form-select__title">
                                                        Отраслевые конфигурации для Казахстана
                                                    </div>
                                                    <ul>
                                                        <li>
                                                            <a href="./">
                                                                Бухгалтерия сельскохозяйственного предприятия для
                                                                Казахстана, редакция 3.0
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="./">Аптеки для Казахстана</a>
                                                        </li>
                                                        <li>
                                                            <a href="./">
                                                                Аптеки для Казахстана
                                                            </a>
                                                        </li>
                                                        <li>
                                                            <a href="./">Аптеки для Казахстана</a>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form__checkbox">
                                <label class="checkbox disabled">
                                    <input data-error="Ошибка" class="checkbox__input" type="checkbox" value="1"
                                        name="form[]">
                                    <span class="checkbox__label">
                                        <span class="checkbox__icon">
                                            <svg aria-hidden="true" width="10" height="8">
                                                <use xlink:href="img/sprite.svg#check2">
                                                </use>
                                            </svg>
                                        </span>
                                        <span class="checkbox__text">Автообновление</span></span>
                                </label>
                                <p>
                                    Сопроводительный текст о причине недоступного автообновления, <a href="./">
                                        перерейти
                                        на тариф</a>
                                </p>
                            </div>
                        </div>
                    </div>
                    <div class="popup__buttons">
                        <div class="popup__buttons-bottom">
                            <button data-popup="#add-base" type="button" class="popup__arrow popup-arrow-text">
                                <svg aria-hidden="true" width="19" height="17">
                                    <use xlink:href="img/sprite.svg#arrow2"></use>
                                </svg>
                                <span>Назад</span>
                            </button>
                            <button data-popup="#add-base-created" type="button" class="btn btn-bg">
                                <span>Создать базу</span>
                            </button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <div id="add-base-created" aria-hidden="false" class="popup popup-add-base popup-base-created">
        <div class="popup__wrapper">
            <div class="popup__content popup-content-creat">
                <div class="add-base-creat">
                    <div class="popup__top">
                        <div class="popup__titles">
                            <div class="popup__title">
                                Создать БД
                            </div>
                        </div>
                        <div data-close class="popup__close">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#close1"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="add-base-creat__body">
                        <div class="add-base-creat__line">
                            <span></span>
                        </div>
                        <div class="add-base-creat__title">
                            Подождите, база разворачивается
                        </div>
                    </div>
                </div>
                <div class="add-base-created">
                    <div class="popup__top">
                        <div class="popup__titles">
                            <div class="popup__title">
                                База создана
                            </div>
                            <p>
                                Название БД
                            </p>
                        </div>
                        <div data-close class="popup__close">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#close1"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="add-base-created__content">
                        <div class="add-base-created__body">
                            <div class="add-base-created__items">
                                <div class="add-base-created__icon">
                                    <svg aria-hidden="true" width="60" height="60">
                                        <use xlink:href="img/sprite.svg#success"></use>
                                    </svg>
                                </div>
                                <div class="add-base-created__item">
                                    <div class="add-base-created__title">
                                        База успешно создана
                                    </div>
                                    <ul>
                                        <li>Пользователь: <span>Бухгалтер</span></li>
                                        <li>Пароль: <span>Не задан</span></li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-service-recommend">
                            <h2 class="title2">
                                Возможно, вам пригодятся следующие услуги:
                            </h2>
                            <div class="block-service-recommend__body">
                                <div class="block-service-recommend__column">
                                    <div class="block-service-recommend__items">
                                        <div class="block-service-recommend__icon">
                                            <svg aria-hidden="true" width="36" height="38">
                                                <use xlink:href="img/sprite.svg#database-icon"></use>
                                            </svg>
                                        </div>
                                        <div class="block-service-recommend__item">
                                            <div class="block-service-recommend__title">
                                                Первоначальный настройка (новой) БД 1С: Бухгалтерия
                                            </div>
                                            <p>
                                                Дополнительный текст об услуге кратко или в пару строку. Можно уместить
                                                в одну строчку.
                                            </p>
                                            <div class="block-service-recommend__bottom">
                                                <div class="block-service-recommend__prices">
                                                    <div class="block-service-recommend__price">
                                                        10 000 ₸
                                                    </div>
                                                </div>
                                                <a href="./" class="btn">
                                                    <span>Заказать</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="block-service-recommend__column">
                                    <div class="block-service-recommend__items">
                                        <div class="block-service-recommend__icon">
                                            <svg aria-hidden="true" width="34" height="36">
                                                <use xlink:href="img/sprite.svg#tax"></use>
                                            </svg>
                                        </div>
                                        <div class="block-service-recommend__item">
                                            <div class="block-service-recommend__title">
                                                Настройка налоговой отчетности
                                            </div>
                                            <p>
                                                Базовый подзаголовок в две и более строки
                                            </p>
                                            <div class="block-service-recommend__bottom">
                                                <div class="block-service-recommend__prices">
                                                    <div class="block-service-recommend__price">
                                                        15 000 ₸
                                                    </div>
                                                </div>
                                                <a href="./" class="btn disabled">
                                                    <span>Заказать</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="block-service-recommend__text">
                                        Счет на оплату сформирован. <a href="./">Перейти</a>
                                    </div>
                                </div>
                                <div class="block-service-recommend__column">
                                    <div class="block-service-recommend__items">
                                        <div class="block-service-recommend__icon">
                                            <svg aria-hidden="true" width="38" height="35">
                                                <use xlink:href="img/sprite.svg#esf"></use>
                                            </svg>
                                        </div>
                                        <div class="block-service-recommend__item">
                                            <div class="block-service-recommend__title">
                                                Сервис 1С ЭСФ
                                            </div>
                                            <p>
                                                Дополнительный текст об услуге кратко или в пару строку. Можно уместить
                                                в одну строчку.
                                            </p>
                                            <div class="block-service-recommend__bottom">
                                                <div class="block-service-recommend__prices">
                                                    <div class="block-service-recommend__price">
                                                        600 ₸
                                                    </div>
                                                    <span>оплата<br>
                                                        в месяц</span>
                                                </div>
                                                <a href="./" class="btn">
                                                    <span>Заказать</span>
                                                </a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="popup__buttons">
                        <a href="./" type="button" class="btn btn-bg">
                            <span>Позвоните мне</span>
                        </a>
                        <button data-close class="link"><span>Закрыть</span></button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>