<!DOCTYPE html>
<html lang="ru">

<head>
    <title>Счета и документы</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header2.njk' %}
        <main class="main">

            <div class="block-cabinet block-cabinet-invoices">
                <div class="container">
                    <div class="block-cabinet__content">
                        <div class="cabinet-menu">
                            <div class="cabinet-menu__body">
                                <div class="cabinet-menu__column">
                                    <ul>
                                        <li>
                                            <span class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/cabinet.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/cabinet-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    <span>Личный</span> кабинет
                                                </div>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link active">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/documents.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/documents-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Счета<span>, документы</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/databases.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/databases-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Базы <span>данных</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/users.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/users-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Пользователи
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/support.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/support-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Поддержка
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-service">
                                    <ul>
                                        <li>
                                            <a href="./" class="cabinet-menu__link link-service">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/service.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/service-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__titles">
                                                    Услуги+
                                                    <div class="cabinet-menu__number">
                                                        <span>843</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-download">
                                    <ul>
                                        <li>
                                            <a href="./" download="#download" class="cabinet-menu__link link-download">
                                                <div class="cabinet-menu__icon">
                                                    <svg aria-hidden="true" width="14" height="17">
                                                        <use xlink:href="img/sprite.svg#download"></use>
                                                    </svg>
                                                </div>
                                                Программа для<br> входа 1С
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-cabinet__body body-long">
                            <div class="block-cabinet__columns columns2">
                                <div data-tabs="1200,max" class="cabinet-tabs">
                                    <nav data-tabs-titles class="cabinet-tabs__navigation">
                                        <button type="button" class="cabinet-tabs__titles">
                                            <div class="cabinet-tabs__title">
                                                Счета и документы
                                                <span class="cabinet-tabs__number">
                                                    3
                                                </span>
                                            </div>
                                            <span class="cabinet-tabs__arrow">
                                                <img src="img/icons/arrow3.svg" alt="">
                                            </span>
                                        </button>
                                        <button type="button" class="cabinet-tabs__titles _tab-active">
                                            <div class="cabinet-tabs__title">
                                                Акт сверки и взаиморасчетов
                                            </div>
                                            <span class="cabinet-tabs__arrow">
                                                <img src="img/icons/arrow3.svg" alt="">
                                            </span>
                                        </button>
                                        <button type="button" class="cabinet-tabs__titles">
                                            <div class="cabinet-tabs__title">
                                                Ваши реквизиты
                                            </div>
                                            <span class="cabinet-tabs__arrow">
                                                <img src="img/icons/arrow3.svg" alt="">
                                            </span>
                                        </button>
                                        <button type="button" class="cabinet-tabs__titles">
                                            <div class="cabinet-tabs__title">
                                                Автоплатёж
                                            </div>
                                            <span class="cabinet-tabs__arrow">
                                                <img src="img/icons/arrow3.svg" alt="">
                                            </span>
                                        </button>
                                    </nav>
                                    <div data-tabs-body class="cabinet-tabs__content">
                                        <div class="cabinet-tabs__body">
                                            <div class="cabinet-tabs-invoices">
                                                <div class="cabinet-table">
                                                    <div class="cabinet-table__item item-main">
                                                        <div class="cabinet-table__title">
                                                            №
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            Описание
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            Сумма
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <span class="desc">Документы</span>
                                                            <span class="mob">Докум.</span>
                                                        </div>
                                                        <div class="cabinet-table__title">

                                                        </div>
                                                    </div>
                                                    <div class="cabinet-table__item">
                                                        <div class="cabinet-table__title">
                                                            5
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <p>
                                                                Счет № 111261 <span>от 2025-02-01 01:03:37</span>
                                                            </p>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            163 565 ₸
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <div class="cabinet-table__documents">
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    Счет
                                                                </a>
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    АВР
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <a href="./" class="btn btn-bg">
                                                                <span>Оплатить</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cabinet-table__item">
                                                        <div class="cabinet-table__title">
                                                            4
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <p>
                                                                Счет № 110207 <span>от 2025-01-10 11:01:48</span>
                                                            </p>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            163 565 ₸
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <div class="cabinet-table__documents">
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    Счет
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <a href="./" class="btn btn-bg">
                                                                <span>Оплатить</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cabinet-table__item">
                                                        <div class="cabinet-table__title">
                                                            3
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <p>
                                                                Счет № 111261 <span>от 2025-02-01 01:03:37</span>
                                                            </p>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            163 565 ₸
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <div class="cabinet-table__documents">
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    Счет
                                                                </a>
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    АВР
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <a href="./" class="btn btn-bg">
                                                                <span>Оплатить</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cabinet-table__item">
                                                        <div class="cabinet-table__title">
                                                            2
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <p>
                                                                Счет № 111261 <span>от 2025-02-01 01:03:37</span>
                                                            </p>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            163 565 ₸
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <div class="cabinet-table__documents">
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    Счет
                                                                </a>
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    АВР
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <a href="./" class="btn btn-bg disabled">
                                                                <span>Оплачено</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                    <div class="cabinet-table__item">
                                                        <div class="cabinet-table__title">
                                                            1
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <p>
                                                                Счет № 111261 <span>от 2025-02-01 01:03:37</span>
                                                            </p>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            163 565 ₸
                                                        </div>
                                                        <div class="cabinet-table__title title-documents">
                                                            <div class="cabinet-table__documents">
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    Счет
                                                                </a>
                                                                <a href="./" download="#download"
                                                                    class="cabinet-table__document">
                                                                    <img src="img/icons/documents.svg" alt="">
                                                                    АВР
                                                                </a>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__title">
                                                            <a href="./" class="btn btn-bg disabled">
                                                                <span>Оплачено</span>
                                                            </a>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="block-pagination">
                                                    <button type="button" class="btn btn-bg btn-more">
                                                        <span>Показать еще счета</span>
                                                    </button>
                                                    <div class="orange-loader" style="display: none;">
                                                        <div class="mini-loader-orange"></div>
                                                    </div>
                                                    <div class="pagging">
                                                        <a class="pagging__item pagging__item_active" href="./">1</a>
                                                        <a class="pagging__item" href="./">2</a>
                                                        <a class="pagging__item" href="./">3</a>
                                                        <a class="pagging__item" href="./">4</a>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cabinet-tabs__body">
                                            <div class="cabinet-tabs-act">
                                                <div class="cabinet-tabs-act-order">
                                                    <div class="cabinet-tabs-act-order__content">
                                                        <div class="cabinet-tabs-act-order__title">
                                                            Заказать акт сверки
                                                        </div>
                                                        <div class="cabinet-tabs-act-order__body">
                                                            <div class="cabinet-tabs-act-order__calendars">
                                                                <div class="calendar">
                                                                    <div class="calendar__title">
                                                                        Начало периода:
                                                                    </div>
                                                                    <div class="calendar__input"></div>
                                                                </div>
                                                                <div class="calendar">
                                                                    <div class="calendar__title">
                                                                        Завершение периода:
                                                                    </div>
                                                                    <div class="calendar__input"></div>
                                                                </div>
                                                            </div>
                                                            <a href="./" class="btn btn-bg">
                                                                <span>Заказать</span>
                                                            </a>
                                                        </div>
                                                        <div class="cabinet-tabs-act-order__buttons">
                                                            <button type="button"
                                                                class="cabinet-tabs-act-order__button">
                                                                <span class="desc">За последние 7 дней</span>
                                                                <span class="mob">За последние 7д.</span>
                                                            </button>
                                                            <button type="button"
                                                                class="cabinet-tabs-act-order__button">
                                                                <span class="desc">За последний месяц</span>
                                                                <span class="mob">За последний 1м.</span>
                                                            </button>
                                                            <button type="button"
                                                                class="cabinet-tabs-act-order__button">
                                                                <span class="desc">За последние 3 месяца</span>
                                                                <span class="mob">За последние 3м.</span>
                                                            </button>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="cabinet-tabs-act-table">
                                                    <div class="cabinet-tabs-act-table__title">
                                                        Готовые акты сверки:
                                                    </div>
                                                    <div class="cabinet-table cabinet-table-act"> 
                                                        <div class="cabinet-table__item item-main">
                                                            <div class="cabinet-table__title">
                                                                Начало <span>периода</span>
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                Завершение <span>периода</span>
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                Дата исполнения
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                Действие
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__item">
                                                            <div class="cabinet-table__title">
                                                                1.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                22.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                <p>
                                                                    23.05.2018 <span>15:16</span>
                                                                </p>
                                                            </div>
                                                            <div class="cabinet-table__title btn-title">
                                                                <a href="./" download="#download" class="btn btn-bg">
                                                                    <span>Скачать</span>
                                                                </a>
                                                                <div class="cabinet-table-meatballs">
                                                                    <div class="cabinet-table-meatballs__button">
                                                                        <img src="img/icons/meatballs.svg" alt="">
                                                                    </div>
                                                                    <div class="cabinet-table-meatballs__body">
                                                                        <a href="./" class="cabinet-table__link">
                                                                            Получить<br>
                                                                            подписанный
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__item">
                                                            <div class="cabinet-table__title">
                                                                1.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                22.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                <p>
                                                                    23.05.2018 <span>15:16</span>
                                                                </p>
                                                            </div>
                                                            <div class="cabinet-table__title btn-title">
                                                                <a href="./" download="#download" class="btn btn-bg">
                                                                    <span>Скачать</span>
                                                                </a>
                                                                <div class="cabinet-table-meatballs active">
                                                                    <div class="cabinet-table-meatballs__button">
                                                                        <img src="img/icons/meatballs.svg" alt="">
                                                                    </div>
                                                                    <div class="cabinet-table-meatballs__body">
                                                                        <a href="./" class="cabinet-table__link">
                                                                            Получить<br>
                                                                            подписанный
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                        <div class="cabinet-table__item">
                                                            <div class="cabinet-table__title">
                                                                1.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                22.05.2018
                                                            </div>
                                                            <div class="cabinet-table__title">
                                                                <p>
                                                                    23.05.2018 <span>15:16</span>
                                                                </p>
                                                            </div>
                                                            <div class="cabinet-table__title btn-title">
                                                                <a href="./" download="#download" class="btn btn-bg">
                                                                    <span>Скачать</span>
                                                                </a>
                                                                <div class="cabinet-table-meatballs">
                                                                    <div class="cabinet-table-meatballs__button">
                                                                        <img src="img/icons/meatballs.svg" alt="">
                                                                    </div>
                                                                    <div class="cabinet-table-meatballs__body">
                                                                        <a href="./" class="cabinet-table__link">
                                                                            Получить<br>
                                                                            подписанный
                                                                        </a>
                                                                    </div>
                                                                </div>
                                                            </div>
                                                        </div>
                                                    </div>
                                                    <div class="block-pagination">
                                                        <div class="pagging">
                                                            <a class="pagging__item pagging__item_active"
                                                                href="./">1</a>
                                                            <a class="pagging__item" href="./">2</a>
                                                            <a class="pagging__item" href="./">3</a>
                                                            <a class="pagging__item" href="./">4</a>
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="cabinet-tabs__body">
                                            Содержимое третьего таба
                                        </div>
                                        <div class="cabinet-tabs__body">
                                            Содержимое третьего таба
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>