<!DOCTYPE html>
<html lang="ru">

<head>
    <title>ЛК - мои подписки (пусто)</title>
    {% include 'blocks/head.njk' %}
</head>

<body class="preload mp">
    <div class="main-wrapper-outer">
        {% include 'blocks/header.njk' %}
        <main class="main">

            <div class="block-cabinet">
                <div class="container">
                    <div class="block-cabinet__content">
                        <div class="cabinet-menu">
                            <div class="cabinet-menu__body">
                                <div class="cabinet-menu__column">
                                    <ul>
                                        <li>
                                            <span class="cabinet-menu__link active">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/cabinet.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/cabinet-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    <span>Личный</span> кабинет
                                                </div>
                                            </span>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/documents.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/documents-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                    <div class="cabinet-menu__circle"></div>
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Счета<span>, документы</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/databases.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/databases-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Базы <span>данных</span>
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/users.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/users-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Пользователи
                                                </div>
                                            </a>
                                        </li>
                                        <li>
                                            <a href="./" class="cabinet-menu__link">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/support.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/support-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__name">
                                                    Поддержка
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-service">
                                    <ul>
                                        <li>
                                            <a href="./" class="cabinet-menu__link link-service">
                                                <div class="cabinet-menu__icon">
                                                    <img src="img/icons/service.svg" alt="" class="cabinet-menu-def">
                                                    <img src="img/icons/service-active.svg" alt=""
                                                        class="cabinet-menu-active">
                                                </div>
                                                <div class="cabinet-menu__titles">
                                                    Услуги+
                                                    <div class="cabinet-menu__number">
                                                        <span>843</span>
                                                    </div>
                                                </div>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                                <div class="cabinet-menu__column column-download">
                                    <ul>
                                        <li>
                                            <a href="./" download="#download" class="cabinet-menu__link link-download">
                                                <div class="cabinet-menu__icon">
                                                    <svg aria-hidden="true" width="14" height="17">
                                                        <use xlink:href="img/sprite.svg#download"></use>
                                                    </svg>
                                                </div>
                                                Программа для<br> входа 1С
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                        <div class="block-cabinet__body">
                            <div class="block-cabinet__columns">
                                <div class="block-cabinet__titles">
                                    <div class="block-cabinet__title">
                                        Мои подписки
                                    </div>
                                </div>
                                <div class="block-cabinet-empty">
                                    <img src="img/image6.webp" alt="" class="block-cabinet-empty__pic1">
                                    <div class="block-cabinet-empty__item">
                                        <div class="block-cabinet-empty__title">
                                            У вас еще нет подписок
                                        </div>
                                        <a href="./" class="btn btn-bg">
                                            <span>Услуги+</span>
                                        </a>
                                    </div>
                                </div>
                            </div>
                            <div class="block-recommend block-recommend-cabinet">
                                <div class="block-recommend__content">
                                    <div class="heading-complex">
                                        <h2 class="title1">
                                            Рекомендуем
                                        </h2>
                                        <div class="heading-complex__buttons">
                                            <a href="./" class="btn">Помощь<span>менеджера</span></a>
                                            <a href="./" class="btn btn-bg">Все подписки</a>
                                        </div>
                                    </div>
                                    <div class="block-recommend__cards recommend-card2">
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo9.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Онлайн
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo10.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        Kaspersky Standart
                                                    </div>
                                                    <p>
                                                        3 устройства
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo11.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Фреш
                                                    </div>
                                                    <p>
                                                        1С Предприятие 8v удаленного доступа
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo9.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Онлайн
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo7.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        Microsoft 360
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo9.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Онлайн
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo10.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        Kaspersky Standart
                                                    </div>
                                                    <p>
                                                        3 устройства
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo11.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Фреш
                                                    </div>
                                                    <p>
                                                        1С Предприятие 8v удаленного доступа
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo9.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        1С Онлайн
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                        <div class="card-programs">
                                            <a href="./" class="card-programs__items">
                                                <img loading="lazy" src="img/logo/logo7.webp" alt=""
                                                    class="card-programs__pic1">
                                                <div class="card-programs__item">
                                                    <div class="card-programs__title">
                                                        Microsoft 360
                                                    </div>
                                                    <p>
                                                        Базовый subtitle в две и более строки
                                                    </p>
                                                </div>
                                            </a>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="cabinet-news">
                            <div class="cabinet-news__cards1">
                                <div class="card-news card-news-other">
                                    <div class="card-news__image image-other image4">
                                        <img src="img/image3.webp" alt="">
                                    </div>
                                    <div class="card-news__item">
                                        <div class="card-news__title">
                                            Поздравляем!
                                        </div>
                                        <p>
                                            Мы активировали платный тариф в подарок
                                        </p>
                                        <div class="card-news__data">
                                            <div class="card-news__number">
                                                14
                                            </div>
                                            <span>
                                                дней<br>
                                                осталось
                                            </span>
                                        </div>
                                        <a href="./" data-popup="#switch-plan" class="btn">Подробнее</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>

        </main>
        {% include 'blocks/footer.njk' %}
    </div>
    <div id="switch-plan" aria-hidden="false" class="popup popup-edit-details">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div data-tabs class="popup-details-tabs">
                    <div class="popup__top">
                        <div class="popup__titles">
                            <div class="popup__title">
                                Перейти на платный тариф
                            </div>
                            <p>
                                Субъект
                            </p>
                        </div>
                        <div data-close class="popup__close">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#close1"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="popup-details-tabs__contents">
                        <div class="popup-details-pagination">
                            <div class="popup-details-pagination__title active">
                                <span>Субъект</span>
                            </div>
                            <div class="popup-details-pagination__title">
                                <span class="desc">Юр.адрес</span>
                                <span class="mob">Юридеч.
                                    адрес</span>
                            </div>
                            <div class="popup-details-pagination__title">
                                <span class="desc">Факт.адрес</span>
                                <span class="mob">Фактичес. адрес</span>
                            </div>
                            <div class="popup-details-pagination__title">
                                <span class="desc">Директор и рекв.</span>
                                <span class="mob">Директор и рекв.</span>
                            </div>
                        </div>
                        <nav data-tabs-titles class="popup-details-tabs__navigation">
                            <button type="button" class="popup-details-tabs__title _tab-active">Юрлицо</button>
                            <button type="button" class="popup-details-tabs__title details-other">Физлицо</button>
                            <button type="button" class="popup-details-tabs__title details-other">ИП</button>
                        </nav>
                        <div data-tabs-body class="popup-details-tabs__content">
                            <div class="popup-details-tabs__body">
                                <form data-dev data-popup-message="#thanks1" action="#"
                                    class="popup-details-tabs__steps">
                                    <div class="popup-details-tabs__step step1 active">
                                        <div class="form">
                                            <div class="form__inputs">
                                                <div class="form__input">
                                                    <label for="bin1">
                                                        БИН<span class="placeholder">*</span>
                                                        <span class="question">?</span>
                                                    </label>
                                                    <div class="input-btn">
                                                        <input data-required id="bin1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="1234567789123"
                                                            class="input">
                                                        <button type="button" class="btn btn-bg">
                                                            <span>Проверить</span>
                                                        </button>
                                                    </div>
                                                </div>
                                                <div class="form__input">
                                                    <label for="bin1">
                                                        ФИО<span class="placeholder">*</span>
                                                    </label>
                                                    <input data-required id="bin1" autocomplete="off" type="text"
                                                        name="form[]" placeholder="" value="Ранее Введенные Данные"
                                                        class="input">
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup-warning">
                                            <div class="popup-warning__item">
                                                <div class="popup-warning__title">
                                                    Внимание!
                                                </div>
                                                <p>
                                                    Просьба указывать корректные реквизиты компании, для выписки
                                                    бухгалтерских документов!
                                                </p>
                                            </div>
                                        </div>
                                        <div class="popup__buttons">
                                            <button type="button" class="btn btn-bg btn-details-next">
                                                <span>Далее</span>
                                            </button>
                                        </div>
                                    </div>
                                    <div class="popup-details-tabs__step step2">
                                        <div class="form">
                                            <div class="form__title">
                                                Юридический адрес
                                            </div>
                                            <div class="form__body">
                                                <div class="form__inputs">
                                                    <div class="form__input">
                                                        <label for="strana1">
                                                            Страна<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="strana1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Казахстан"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="obl1">
                                                            Область<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="obl1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Карагандинская область"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="rayon1">
                                                            Район<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="rayon1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Казыбек-би"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="gorod1">
                                                            Город<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="gorod1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Караганда"
                                                            class="input">
                                                    </div>
                                                </div>
                                                <div class="form__inputs">
                                                    <div class="form__input">
                                                        <label for="locality1">
                                                            Населенный пункт
                                                        </label>
                                                        <input id="locality1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="" class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="index1">
                                                            Индекс<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="index1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="10000" class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="ulitsa1">
                                                            Улица<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="ulitsa1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Название улицы"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input2">
                                                        <div class="form__input">
                                                            <label for="dom1">
                                                                Дом<span class="placeholder">*</span>
                                                            </label>
                                                            <input data-required id="dom1" autocomplete="off"
                                                                type="text" name="form[]" placeholder="" value="42"
                                                                class="input">
                                                        </div>
                                                        <div class="form__input">
                                                            <label for="kv1">
                                                                Кв/офис<span class="placeholder">*</span>
                                                            </label>
                                                            <input data-required id="kv1" autocomplete="off" type="text"
                                                                name="form[]" placeholder="" value="17" class="input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup__buttons">
                                            <button type="button" class="btn btn-mob btn-details-prev">
                                                <span>Назад</span>
                                            </button>
                                            <div class="popup__buttons-bottom">
                                                <button type="button" class="popup__arrow btn-details-prev">
                                                    <svg aria-hidden="true" width="19" height="17">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-bg btn-details-next">
                                                    <span>Далее</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-details-tabs__step step3">
                                        <div class="popup-details-question">
                                            <div class="popup-details-question__title">
                                                Фактический адрес совпадает с юридическим?
                                            </div>
                                            <div class="popup-details-question__buttons">
                                                <button type="button"
                                                    class="popup-details-question__btn btn-match active">
                                                    <span>Совпадает</span>
                                                </button>
                                                <button type="button" class="popup-details-question__btn btn-nomatch">
                                                    <span>Нет</span>
                                                </button>
                                            </div>
                                        </div>
                                        <div class="form">
                                            <div class="form__title">
                                                Фактический адрес
                                            </div>
                                            <div class="form__body">
                                                <div class="form__inputs">
                                                    <div class="form__input">
                                                        <label for="strana1">
                                                            Страна<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="strana1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Казахстан"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="obl1">
                                                            Область<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="obl1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Карагандинская область"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="rayon1">
                                                            Район<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="rayon1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Казыбек-би"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="gorod1">
                                                            Город<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="gorod1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Караганда"
                                                            class="input">
                                                    </div>
                                                </div>
                                                <div class="form__inputs">
                                                    <div class="form__input">
                                                        <label for="locality1">
                                                            Населенный пункт
                                                        </label>
                                                        <input id="locality1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="" class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="index1">
                                                            Индекс<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="index1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="10000" class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="ulitsa1">
                                                            Улица<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="ulitsa1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="Название улицы"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input2">
                                                        <div class="form__input">
                                                            <label for="dom1">
                                                                Дом<span class="placeholder">*</span>
                                                            </label>
                                                            <input data-required id="dom1" autocomplete="off"
                                                                type="text" name="form[]" placeholder="" value="42"
                                                                class="input">
                                                        </div>
                                                        <div class="form__input">
                                                            <label for="kv1">
                                                                Кв/офис<span class="placeholder">*</span>
                                                            </label>
                                                            <input data-required id="kv1" autocomplete="off" type="text"
                                                                name="form[]" placeholder="" value="17" class="input">
                                                        </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup__buttons">
                                            <button type="button" class="btn btn-mob btn-details-prev">
                                                <span>Назад</span>
                                            </button>
                                            <div class="popup__buttons-bottom">
                                                <button type="button" class="popup__arrow btn-details-prev">
                                                    <svg aria-hidden="true" width="19" height="17">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </button>
                                                <button type="button" class="btn btn-bg btn-details-next">
                                                    <span>Далее</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-details-tabs__step step4">
                                        <div class="form">
                                            <div class="form__inputs">
                                                <div class="form__input">
                                                    <label for="fio1">
                                                        ФИО директора<span class="placeholder">*</span>
                                                    </label>
                                                    <input data-required id="fio1" autocomplete="off" type="text"
                                                        name="form[]" placeholder="" value="Ранее Введенные Данные"
                                                        class="input">
                                                </div>
                                                <div class="form__inputs2">
                                                    <div class="form__input">
                                                        <label for="bin2">
                                                            БИН<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="bin2" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="123456789012"
                                                            class="input">
                                                    </div>
                                                    <div class="form__input">
                                                        <label for="iik1">
                                                            ИИК<span class="placeholder">*</span>
                                                        </label>
                                                        <input data-required id="iik1" autocomplete="off" type="text"
                                                            name="form[]" placeholder="" value="KZ120000000000000000"
                                                            class="input">
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="popup__buttons">
                                            <button type="button" class="btn btn-mob btn-details-prev">
                                                <span>Назад</span>
                                            </button>
                                            <div class="popup__buttons-bottom">
                                                <button type="button" class="popup__arrow btn-details-prev">
                                                    <svg aria-hidden="true" width="19" height="17">
                                                        <use xlink:href="img/sprite.svg#arrow2"></use>
                                                    </svg>
                                                </button>
                                                <button type="submit" class="btn btn-bg btn-details-save">
                                                    <span>Сохранить</span>
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </form>
                            </div>
                            <div class="popup-details-tabs__body">
                                <form action="#" class="popup-details-tabs__steps">
                                    <div class="form">
                                        <div class="form__inputs">
                                            <div class="form__input">
                                                <label for="bin1">
                                                    ФИО<span class="placeholder">*</span>
                                                </label>
                                                <input data-required id="bin1" autocomplete="off" type="text"
                                                    name="form[1]" placeholder="" value="Ранее Введенные Данные"
                                                    class="input">
                                            </div>
                                            <div class="form__input">
                                                <label for="inn2">
                                                    ИНН<span class="placeholder">*</span>
                                                </label>
                                                <input data-required id="inn2" autocomplete="off" type="text"
                                                    name="form[]" placeholder="" value="1234567789123" class="input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-warning">
                                        <div class="popup-warning__item">
                                            <div class="popup-warning__title">
                                                Внимание!
                                            </div>
                                            <p>
                                                Просьба указывать корректные реквизиты компании, для выписки
                                                бухгалтерских документов!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="popup__buttons">
                                        <button type="submit" class="btn btn-bg">
                                            <span>Сохранить</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                            <div class="popup-details-tabs__body">
                                <form action="#" class="popup-details-tabs__steps">
                                    <div class="form">
                                        <div class="form__inputs">
                                            <div class="form__input">
                                                <label for="bin1">
                                                    ФИО<span class="placeholder">*</span>
                                                </label>
                                                <input data-required id="bin1" autocomplete="off" type="text"
                                                    name="form[1]" placeholder="" value="Ранее Введенные Данные"
                                                    class="input">
                                            </div>
                                            <div class="form__input">
                                                <label for="inn2">
                                                    ИНН<span class="placeholder">*</span>
                                                </label>
                                                <input data-required id="inn2" autocomplete="off" type="text"
                                                    name="form[]" placeholder="" value="1234567789123" class="input">
                                            </div>
                                        </div>
                                    </div>
                                    <div class="popup-warning">
                                        <div class="popup-warning__item">
                                            <div class="popup-warning__title">
                                                Внимание!
                                            </div>
                                            <p>
                                                Просьба указывать корректные реквизиты компании, для выписки
                                                бухгалтерских документов!
                                            </p>
                                        </div>
                                    </div>
                                    <div class="popup__buttons">
                                        <button type="submit" class="btn btn-bg">
                                            <span>Сохранить</span>
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div id="thanks1" aria-hidden="false" class="popup popup-edit-details popup-thanks">
        <div class="popup__wrapper">
            <div class="popup__content">
                <div data-tabs class="popup-details-tabs">
                    <div class="popup__top">
                        <div class="popup__titles">
                            <div class="popup__title">
                                Перейти на платный тариф
                            </div>
                            <p>
                                Юридическое лицо
                            </p>
                        </div>
                        <div data-close class="popup__close">
                            <svg aria-hidden="true" width="20" height="20">
                                <use xlink:href="img/sprite.svg#close1"></use>
                            </svg>
                        </div>
                    </div>
                    <div class="popup-details-thanks">
                        <div class="popup-details-thanks__icon">
                            <svg aria-hidden="true" width="60" height="60">
                                <use xlink:href="img/sprite.svg#success"></use>
                            </svg>
                            <div class="popup-details-thanks__title">Готово</div>
                        </div>
                        <p>
                            Текст об успешном переходе на платный тариф, ждите счет на оплату <span>12.12.25</span>
                        </p>
                    </div>
                    <div class="popup__buttons">
                        <button data-close type="button" class="btn btn-bg">
                            <span>Закрыть</span>
                        </button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'blocks/scripts.njk' %}
</body>

</html>