body {
  color: var(--black);
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 120%;
  padding: 0px 0px 0px 0px !important;
  background: #f0f2f4;
  &.hide-scrollbar {
    margin: 0px 0px 0px 0px !important;
  }
  .lock & {
    overflow: hidden;
  }
  .popup-show & {
    overflow: hidden;
  }
  &::before {
    content: "";
    cursor: pointer;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s;
    background: rgba(0, 0, 0, 0.6);
  }
  .menu-open &,
  .open-notifications & {
    overflow: hidden;
    &::before {
      content: "";
      opacity: 1;
      pointer-events: auto;
      @media (max-width: 350px) {
        display: none;
      }
    }
  }
}

body.noscroll {
  overflow: hidden;
}

input,
button,
textarea {
  font-family: inherit;
  font-weight: 400;
  font-size: 16px;
}

fieldset,
fieldset legend {
  margin: 0;
  border: none;
  padding: 0;
}

button {
  cursor: pointer;
}

a {
  outline: none;
  color: currentcolor;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: fit-content;
  font-weight: 600;
  font-size: 14px;
  line-height: 143%;
  min-height: 36px;
  text-align: center;
  border: 2px solid #f26135;
  border-radius: 40px;
  padding: 5px 18px;
  color: var(--theme-color-accent);
  transition:
    background-color 0.3s,
    color 0.3s;
  &.btn-bg {
    border: 2px solid transparent;
    background-color: #f26135;
    color: #fff;
    &.disabled {
      pointer-events: none;
      color: #c0c0c0;
      background-color: #e5e5e5;
    }
    &:hover {
      background-color: #d9481c;
    }
    &:active {
      background-color: #c03b12;
    }
  }
  &:hover {
    background-color: #f26135;
    color: #fff;
  }
  &:active {
    background-color: #c03b12;
  }
  &.disabled {
    pointer-events: none;
    color: #424242;
    
    background-color: #f8f8f8;
  }
}

.btn-application-sent {
  position: fixed;
  top: 54.3%;
  left: 48.7%;
  transform: translate(-50%, -50%);
  backdrop-filter: blur(10px);
  background: rgba(0, 0, 0, 0.7);
  border-radius: 40px;
  padding: 10px 28px;
  min-height: 52px;
  width: fit-content;
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  text-align: center;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 70;
  span {
    display: block;
    margin-top: -2px;
  }
  @media (max-width: 992px) {
    padding: 10px 20px;
    min-height: 40px;
    top: 49.4%;
    left: 51.5%;
  }
  @media (max-width: 700px) {
    top: auto;
    bottom: 49px;
    left: 0;
    width: 100%;
    border-radius: 0px;
    min-height: 42px;
    transform: translate(0, 0);
    font-size: 14px;
    line-height: 114%;
  }
}

.link {
  font-weight: 600;
  font-size: 18px;
  line-height: 111%;
  color: #f26135;
  transition: color 0.3s;
  @media (max-width: 650px) {
    font-size: 14px;
    line-height: 143%;
  }
  &:hover {
    color: #d9481c;
  }
  &:active {
    color: #c03b12;
  }
}

.orange-loader {
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 34px;
}
.mini-loader-orange {
  width: 20px;
  height: 20px;
  border: 2px solid rgba(242, 97, 53, 0.3);
  border-top: 2px solid #f26135;
  border-radius: 50%;
  animation: spin 0.8s linear infinite;
  display: inline-block;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.socials {
  display: flex;
  flex-wrap: wrap;
  gap: 10px 36px;
  @media (max-width: 1200px) {
    gap: 10px 66px;
  }
  a {
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 0 0 36px;
    svg {
      path {
        transition: fill 0.3s;
      }
    }
    &:hover {
      svg {
        path {
          fill: #d9481c;
        }
      }
    }
  }
}

.block1 {
  margin: 0px 0px 24px 0px;
  @media (max-width: 700px) {
    margin: 0px 0px 16px 0px;
  }
}

.title1 {
  font-weight: 450;
  font-size: 24px;
  line-height: 133%;
  @media (max-width: 992px) {
    font-size: 22px;
    line-height: 136%;
  }
  @media (max-width: 700px) {
    font-size: 20px;
    line-height: 140%;
  }
}

.title2 {
  font-weight: 450;
  font-size: 20px;
  line-height: 140%;
  @media (max-width: 992px) {
    font-size: 18px;
    line-height: 144%;
  }
  @media (max-width: 700px) {
    font-size: 17px;
    line-height: 129%;
  }
}

.heading-complex {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-between;
  gap: 10px 20px;
  border-bottom: 1px solid #e5e5e5;
  padding: 0px 0px 14px 0px;
  @media (max-width: 700px) {
    padding: 8px 0px;
  }
  // .heading-complex__buttons

  &__buttons {
    display: flex;
    gap: 16px;
    @media (max-width: 700px) {
      flex-direction: row-reverse;
    }
    .btn {
      gap: 5px;
      span {
        @media (max-width: 700px) {
          display: none;
        }
      }
      @media (max-width: 700px) {
        font-size: 14px;
        line-height: 143%;
        color: #f26135;
        background: transparent;
        min-height: 100%;
        padding: 0px 0px 0px 0px;
        border: none;
        transition: color 0.3s;
        &:hover {
          color: #d9481c;
        }
        &:active {
          color: #c03b12;
        }
      }
    }
  }
}

.pagging {
  flex: 1 1 auto;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 6px;
  // .pagging__item
  &__item {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 36px;
    border-radius: 50%;
    height: 36px;
    flex: 0 0 36px;
    background-color: #f8f8f8;
    font-weight: 400;
    font-size: 15px;
    line-height: 133%;
    text-align: center;
    transition:
      color 0.3s,
      background-color 0.3s;
    &:hover {
      color: #000;
    }
    // .pagging__item_nav

    &_nav {
    }

    // .pagging__item_nav-prev

    &_nav-prev {
    }

    // .pagging__item_active

    &_active {
      pointer-events: none;
      background-color: var(--theme-color-accent);
      color: #fff;
    }

    // .pagging__arrow
  }
  &__arrow {
    width: 36px;
    height: 36px;
    flex: 0 0 36px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg {
      fill: #424242;
      transition: fill 0.3s;
    }
    &:hover {
      svg {
        fill: #000;
      }
    }

    // .pagging_arrow-next

    &_arrow-next {
    }

    // .pagging_arrow-last

    &_arrow-last {
    }
  }
}

.calendar {
  display: flex;
  flex-direction: column;
  gap: 5px;
  flex: 0 0 43.94%;
  @media (max-width: 992px) {
    gap: 7px;
    flex: 0 0 46.94%;
  }
  @media (max-width: 760px) {
    gap: 6px;
    flex: 0 1 auto;
  }
  &:nth-child(2) {
    flex: 1 0 47.98%;
    @media (max-width: 992px) {
      flex: 1 0 48.1%;
    }
    @media (max-width: 760px) {
      flex: 0 1 auto;
    }
    .calendar__input {
      @media (max-width: 992px) {
        width: calc(100% - 6px);
      }
      @media (max-width: 760px) {
        width: 100%;
      }
    }
    .calendar__title {
      text-align: center;
      padding: 0px 0px 0px 0px;
      @media (max-width: 992px) {
        text-align: left;
        padding: 0px 0px 0px 12px;
      }
    }
  }
  // .calendar__title

  &__title {
    white-space: nowrap;
    font-weight: 400;
    font-size: 16px;
    line-height: 125%;
    padding: 0px 0px 0px 20px;
    @media (max-width: 992px) {
      font-size: 14px;
      line-height: 114%;
      padding: 0px 0px 0px 12px;
    }
  }

  // .calendar__input

  &__input {
    width: 100%;
    height: 54px;
    border: 1px solid #d9d9d9;
    border-radius: 30px;
    background: #fff;
    @media (max-width: 992px) {
      height: 38px;
    }
  }
}
