.footer {
    background: #fff;
    @media (max-width: 700px) {
        display: none;
    }
    // .footer__content

    &__content {
        position: relative;
        &::before {
            content: "";
            position: absolute;
            top: -1px;
            left: 0;
            width: 100%;
            height: 2px;
            background: radial-gradient(ellipse at center, #f26135 0%, #ff9950 100%);
            border-radius: 1px;
        }
    }
}

.footer-top {
    padding: 28px 0px 20px 0px;
    display: flex;
    align-items: start;
    gap: 25px;
    border-bottom: 1px solid #e1e4e7;
    @media (max-width: 1300px) {
        padding: 28px 0px 18px 0px;
    }
    @media (max-width: 1200px) {
        flex-direction: column;
        gap: 44px;
    }
    @media (max-width: 992px) {
        padding: 18px 0px 18px 0px;
    }
    // .footer-top__left

    &__left {
        display: flex;
        flex-direction: column;
        gap: 40px;
        flex: 1 1 auto;
        @media (max-width: 1200px) {
            width: 100%;
            gap: 44px;
        }
    }

    // .footer-top__menu1

    &__menu1 {
        display: flex;
        align-items: center;
        flex-wrap: wrap;
        gap: 10px 52.5px;
        padding: 10px 0px;
        min-height: 70px;
        @media (max-width: 1300px) {
            gap: 10px 40.5px;
        }
        @media (max-width: 992px) {
            gap: 10px 27px;
        }
        li {
            a {
                font-weight: 400;
                font-size: 15px;
                line-height: 120%;
                transition: color 0.3s;
                &:hover {
                    color: #000;
                }
            }
        }
    }

    // .footer-top__menu2

    &__menu2 {
        column-gap: 24px;
        column-count: 3;
        display: inline-block;
        width: 100%;
    }

    // .footer-top__column

    &__column {
        break-inside: avoid;
        page-break-inside: avoid;
        -webkit-column-break-inside: avoid;
        margin: 0px 0px 32px 0px;
        ul {
            li {
                display: flex;
                flex-wrap: wrap;
                gap: 0px 28px;
                a {
                    padding: 10.9px 0px;
                    font-weight: 400;
                    font-size: 15px;
                    line-height: 117%;
                    transition: color 0.3s;
                    &:hover {
                        color: #000;
                    }
                    @media (max-width: 1500px) {
                        br {
                            display: none;
                        }
                    }
                }
            }
        }
    }

    // .footer-top__main-title

    &__main-title {
        width: fit-content;
        display: flex;
        gap: 13px;
        align-items: center;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        min-height: 48px;
        padding: 10px 0px;
        transition: color 0.3s;
        &::after {
            content: "";
            margin-top: 2px;
            display: block;
            transform: translateX(0);
            width: 16px;
            height: 16px;
            background-size: 100% 100%;
            transition:
                background-image 0.3s,
                transform 0.3s;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC4zMDY0MiAxM0wxMy44MDY0IDcuNUw4LjMwNjQyIDJNMTMuMTk1MyA3LjVIMi4xOTUzMSIgc3Ryb2tlPSIjRDlEOUQ5IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgLz4KPC9zdmc+");
        }
        &:hover {
            color: #000;
            &::after {
                content: "";
                transform: translateX(3px);
                background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTYiIHZpZXdCb3g9IjAgMCAxNiAxNiIgZmlsbD0ibm9uZSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICA8cGF0aCBkPSJNOC4zMDY0MiAxM0wxMy44MDY0IDcuNUw4LjMwNjQyIDJNMTMuMTk1MyA3LjVIMi4xOTUzMSIgc3Ryb2tlPSIjRjI2MTM1IiBzdHJva2Utd2lkdGg9IjIiIHN0cm9rZS1saW5lY2FwPSJyb3VuZCIgLz4KPC9zdmc+");
            }
        }
    }

    // .footer-top__right

    &__right {
        flex: 0 0 342px;
        display: flex;
        flex-direction: column;
        gap: 79px;
        padding: 25px 0px 0px 0px;
        @media (max-width: 1400px) {
            flex: 0 0 287px;
        }
        @media (max-width: 1200px) {
            width: 100%;
            flex: 1 1 auto;
            padding: 0px 0px 0px 0px;
            gap: 44px;
        }
        .socials {
            @media (max-width: 1200px) {
                border-top: 1px solid #e1e4e7;
                padding: 20px 0px 0px 0px;
                justify-content: center;
            }
        }
    }

    // .footer-top__contacts

    &__contacts {
        display: flex;
        flex-direction: column;
        gap: 70.7px;
        @media (max-width: 1200px) {
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            gap: 24px;
        }
    }

    // .footer-top__contact

    &__contact {
        display: flex;
        flex-direction: column;
        gap: 5px;
        @media (max-width: 1200px) {
            gap: 4px;
        }
        &:nth-child(2) {
            gap: 2.5px;
            margin-top: 4px;
            @media (max-width: 1300px) {
                margin-top: 4.5px;
            }
            @media (max-width: 1200px) {
                margin-top: 0px;
                gap: 3.8px;
            }
            img {
                margin-bottom: -6px;
                @media (max-width: 1200px) {
                    margin-bottom: 13px;
                }
            }
        }
        .btn {
            margin-left: 28px;
            width: calc(100% - 56px);
            margin-top: 18px;
            @media (max-width: 1200px) {
                margin-left: 0px;
                width: 100%;
                max-width: 160px;
                margin-top: 12px;
            }
        }
    }

    // .footer-top__icon

    &__icon {
        display: none;
        @media (max-width: 1200px) {
            display: flex;
            width: 20px;
            height: auto;
            flex: 0 0 20px;
            margin-bottom: 12.5px;
        }
    }

    // .footer-top__text

    &__text {
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        margin-left: 32px;
        @media (max-width: 1200px) {
            margin-left: 0px;
        }
        @media (max-width: 992px) {
            font-size: 15px;
            line-height: 120%;
        }
    }

    // .footer-top__title

    &__title {
        display: flex;
        align-items: center;
        gap: 12px;
        font-weight: 600;
        font-size: 20px;
        line-height: 120%;
        @media (max-width: 992px) {
            font-size: 16px;
            line-height: 125%;
        }
        &.footer-link {
            transition: color 0.3s;
            &:hover {
                color: #000;
            }
        }
        img {
            width: 20px;
            height: auto;
            flex: 0 0 20px;
            @media (max-width: 1200px) {
                display: none;
            }
        }
    }
}

.footer-bottom {
    padding: 27px 0px 35px 0px;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 24px;
    @media (max-width: 1300px) {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        padding: 28px 0px 50px 0px;
    }
    @media (max-width: 1200px) {
        display: flex;
        justify-content: start;
        align-items: start;
        width: 100%;
        padding: 44px 0px 40px 0px;
    }
    // .footer-bottom__left

    &__left {
        display: flex;
        align-items: flex-end;
        gap: 17px 20px;
        @media (max-width: 1200px) {
            flex-direction: column;
            align-items: start;
        }
    }

    // .footer-bottom__logo

    &__logo {
        flex: 0 0 auto;
        display: flex;
        svg {
            fill: #5c5c5c;
            transition: fill 0.3s;
        }
        &:hover {
            svg {
                fill: #d9481c;
            }
        }
        &:active {
            svg {
                fill: #c03b12;
            }
        }
    }

    // .footer-bottom__copy

    &__copy {
        margin-bottom: 1px;
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        br {
            display: none;
            @media (max-width: 1200px) {
                display: block;
            }
        }
    }

    // .footer-bottom__right

    &__right {
        display: flex;
        gap: 36px;
        padding-right: 61px;
        @media (max-width: 1500px) {
            padding-right: 0px;
            display: grid;
            gap: 24px;
            grid-template-columns: repeat(2, 1fr);
        }
        @media (max-width: 1300px) {
            margin-bottom: -16px;
        }
        @media (max-width: 1200px) {
            width: 100%;
            align-items: flex-end;
            grid-template-columns: repeat(3, 1fr);
            margin-bottom: 0px;
        }
    }

    // .footer-bottom__link

    &__link {
        font-weight: 400;
        font-size: 14px;
        line-height: 114%;
        margin-bottom: 1px;
        transition: color 0.3s;
        &:hover {
            color: #000;
        }
    }
}
