.form {
    display: flex;
    flex-direction: column;
    gap: 21px;
    @media (max-width: 650px) {
        gap: 12px;
    }
    // .form__title

    &__title {
        font-weight: 450;
        font-size: 18px;
        line-height: 144%;
        margin: 0px 0px 0px 16px;
        @media (max-width: 650px) {
            font-size: 16px;
            line-height: 138%;
        }
    }

    // .form__body

    &__body {
        display: grid;
        gap: 40px;
        grid-template-columns: repeat(2, 1fr);
        @media (max-width: 550px) {
            grid-template-columns: 1fr;
            gap: 17px;
        }
        .form__inputs {
            gap: 28px;
            @media (max-width: 550px) {
                gap: 17px;
            }
        }
        .form__input {
            label {
                margin: 0px 16px 0px 16px;
            }
            .input {
                height: 36px;
                font-size: 16px;
                line-height: 150%;
                padding: 0px 16px 0px 16px;
            }
        }
    }

    // .form__input2

    &__input2 {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        gap: 16px;
    }

    // .form__inputs2

    &__inputs2 {
        display: flex;
        gap: 40px;
        @media (max-width: 650px) {
            flex-direction: column;
            gap: 16px;
        }
        .form__input {
            flex: 0 1 318px;
            @media (max-width: 650px) {
                flex: 0 1 auto;
            }
            &:first-child {
                flex: 0 1 178px;
                @media (max-width: 650px) {
                    flex: 0 1 auto;
                }
            }
        }
    }

    // .form__inputs

    &__inputs {
        display: flex;
        flex-direction: column;
        gap: 35px;
        @media (max-width: 650px) {
            gap: 16px;
        }
    }

    // .form__input

    &__input {
        display: flex;
        flex-direction: column;
        gap: 8px;
        &.big {
            gap: 6px;
            @media (max-width: 650px) {
                gap: 7px;
            }
        }
        @media (max-width: 650px) {
            gap: 7px;
        }
        &._form-error {
            .input {
                border: 1px solid #a61b1b;
                color: #a61b1b;
            }
            .form__error {
                display: block;
            }
        }
        label {
            display: flex;
            align-items: center;
            margin: 0px 20px 0px 20px;
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            &.big {
                font-size: 16px;
                line-height: 125%;
                @media (max-width: 650px) {
                    font-size: 14px;
                    line-height: 114%;
                }
            }
            @media (max-width: 650px) {
                margin: 0px 16px 0px 16px;
            }
            span {
                &.placeholder {
                    color: #c5272d;
                }
            }
        }
        .input-btn {
            position: relative;
            input {
                padding: 8px 136px 0px 20px;
                @media (max-width: 650px) {
                    padding: 0px 106px 0px 16px;
                }
            }
            .btn {
                width: 100%;
                right: 8px;
                position: absolute;
                top: 8px;
                @media (max-width: 650px) {
                    width: fit-content;
                    right: 16px;
                    right: 0;
                    top: 0;
                    font-weight: 600;
                    font-size: 14px;
                    line-height: 143%;
                    padding: 0px 0px 0px 0px;
                    min-height: fit-content;
                    color: #f26135;
                    background-color: transparent;
                    &:hover {
                        background-color: transparent;
                        color: #d9481c;
                    }
                    &:active {
                        background-color: transparent;
                        color: #c03b12;
                    }
                }
            }
        }
        .input {
            transition:
                border 0.3s,
                color 0.3s;
            width: 100%;
            border: 1px solid #d9d9d9;
            border-radius: 30px;
            padding: 0px 20px 0px 20px;
            font-weight: 400;
            font-size: 20px;
            line-height: 130%;
            height: 52px;
            transition: border 0.3s;
            &._form-error {
                border: 1px solid #c5272d;
            }
            &::placeholder {
                font-style: italic;
                color: #8c8c8c;
                @media (max-width: 650px) {
                    font-style: normal;
                }
            }
            @media (max-width: 650px) {
                height: 36px;
                font-size: 16px;
                line-height: 150%;
                padding: 0px 16px 0px 16px;
            }
        }
    }

    // .form__error

    &__error {
        display: none;
        font-weight: 400;
        font-size: 16px;
        line-height: 125%;
        color: #a61b1b;
        margin: -5px 0px 0px 20px;
        @media (max-width: 650px) {
            margin: 0px 0px 0px 16px;
            font-size: 14px;
            line-height: 114%;
        }
    }

    // .form__input-pass

    &__input-pass {
        position: relative;
        .input {
            padding: 0px 62px 0px 20px;
            @media (max-width: 650px) {
                padding: 0px 54px 0px 16px;
            }
        }
    }

    // .form__viewpass

    &__viewpass {
        cursor: pointer;
        right: 20px;
        top: 50%;
        transform: translate(0px, -50%);
        position: absolute;
        width: 20px;
        height: 20px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: 650px) {
            right: 12px;
        }
        &._viewpass-active {
            svg {
                stroke: #000;
                color: #000;
            }
        }
        svg {
            fill: none;
            stroke: #a3acb5;
            color: #a3acb5;
            transition:
                stroke 0.3s,
                color 0.3s;
        }
        &:hover {
            svg {
                stroke: #000;
                color: #000;
            }
        }
    }

    // .form__checkbox

    &__checkbox {
        display: flex;
        flex-direction: column;
        gap: 10px;
        margin: 5px 22px 0px 22px;
        @media (max-width: 650px) {
            gap: 8px;
            margin: 3px 16px 0px 16px;
        }
        .checkbox__icon {
            width: 24px;
            height: 24px;
            flex: 0 0 24px;
            @media (max-width: 650px) {
                width: 18px;
                height: 18px;
                flex: 0 0 18px;
            }
        }
        .checkbox__text {
            font-size: 20px;
            line-height: 130%;
            @media (max-width: 650px) {
                font-size: 16px;
                line-height: 125%;
            }
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            a {
                color: #f26135;
                transition: color 0.3s;
                &:hover {
                    color: #f26135;
                }
                &:active {
                    color: #c03b12;
                }
            }
        }
    }
}
.input-btn-check {
    width: 118px;
    position: absolute;
    top: 0;
    right: 0;
    @media (max-width: 650px) {
        right: 16px;
        width: 100px;
        top: 6px;
        transform: translate(0px, -50%);
    }
    &.active {
        .btn {
            display: none;
        }
        .input-btn-check__line {
            display: flex;
            span {
                animation: fillToFull 5s ease-out forwards;
            }
        }
    }
    // .input-btn-check__line

    &__line {
        display: none;
        width: 100%;
        border-radius: 4px;
        height: 8px;
        background: rgba(217, 217, 217, 0.4);
        position: absolute;
        right: 20px;
        top: 22px;
        @media (max-width: 650px) {
            top: 8px;
            right: 0;
        }
        span {
            position: absolute;
            top: 0;
            left: 0;
            height: 100%;
            background: #f26135;
            border-radius: 4px;
        }
    }
}
.block-question {
    margin: -2px 0px -2px 0px;
    padding: 0px 0px 0px 12px;
    position: relative;
    z-index: 30;
    &:hover,
    &.active {
        .block-question__text {
            opacity: 1;
            pointer-events: auto;
        }
        .block-question__button {
            color: #424242;
            background-color: #e1e4e7;
        }
    }
    // .block-question__button

    &__button {
        cursor: pointer;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        border-radius: 50%;
        font-weight: 600;
        font-size: 14px;
        line-height: 114%;
        text-align: center;
        color: #5c5c5c;
        transition:
            background-color 0.3s,
            color 0.3s;
        background-color: #f0f2f4;
    }

    // .block-question__text

    &__text {
        position: absolute;
        width: 118px;
        left: calc(50% + 6px);
        transform: translate(-50%, 0px);
        bottom: 100%;
        backdrop-filter: blur(10px);
        border-radius: 8px;
        padding: 12px;
        min-height: 42px;
        background: rgba(0, 0, 0, 0.7);
        margin: 0px 0px 9px 0px;
        opacity: 0;
        transition: opacity 0.3s;
        pointer-events: none;
        &::before {
            content: "";
            width: 16px;
            height: 8px;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iOCIgdmlld0JveD0iMCAwIDE2IDgiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPGZvcmVpZ25PYmplY3QgeD0iLTEwIiB5PSItMTAiIHdpZHRoPSIzNiIgaGVpZ2h0PSIyNy4xNzE5Ij4KICAgIDxkaXYgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzE5OTkveGh0bWwiIHN0eWxlPSJiYWNrZHJvcC1maWx0ZXI6Ymx1cig1cHgpO2NsaXAtcGF0aDp1cmwoI2JnYmx1cl8wXzQ2NTFfMTU2ODdfY2xpcF9wYXRoKTtoZWlnaHQ6MTAwJTt3aWR0aDoxMDAlIj48L2Rpdj4KICA8L2ZvcmVpZ25PYmplY3Q+CiAgPHBhdGggZGF0YS1maWdtYS1iZy1ibHVyLXJhZGl1cz0iMTAiIGQ9Ik0xNiAwSDBMNi41ODU3OSA2LjU4NTc5QzcuMzY2ODQgNy4zNjY4NCA4LjYzMzE3IDcuMzY2ODQgOS40MTQyMSA2LjU4NTc5TDE2IDBaIiBmaWxsPSJibGFjayIgZmlsbC1vcGFjaXR5PSIwLjciIC8+CiAgPGRlZnM+CiAgICA8Y2xpcFBhdGggaWQ9ImJnYmx1cl8wXzQ2NTFfMTU2ODdfY2xpcF9wYXRoIiB0cmFuc2Zvcm09InRyYW5zbGF0ZSgxMCAxMCkiPgogICAgICA8cGF0aCBkPSJNMTYgMEgwTDYuNTg1NzkgNi41ODU3OUM3LjM2Njg0IDcuMzY2ODQgOC42MzMxNyA3LjM2Njg0IDkuNDE0MjEgNi41ODU3OUwxNiAwWiIgLz4KICAgIDwvY2xpcFBhdGg+CiAgPC9kZWZzPgo8L3N2Zz4=");
            position: absolute;
            bottom: -8px;
            left: 50%;
            transform: translate(-50%, 0px);
        }
        p {
            font-weight: 400;
            font-size: 14px;
            line-height: 114%;
            text-align: center;
            color: #fff;
        }
    }
}

.form-select {
    position: relative;
    z-index: 30;
    &.active {
        .form-select__arrow {
            &::after {
                content: "";
                transform: rotate(-180deg);
            }
        }
        .form-select__dropdown {
            opacity: 1;
            pointer-events: auto;
        }
    }
    // .form-select__titles

    &__titles {
        cursor: pointer;
        background: #fff;
        width: 100%;
        color: inherit;
        text-align: left;
        cursor: pointer;
        border: 1px solid #d9d9d9;
        border-radius: 30px;
        padding: 5px 20px 5px 18px;
        height: 52px;
        display: flex;
        font-weight: 400;
        font-size: 20px;
        line-height: 130%;
        align-items: center;
        justify-content: space-between;
        gap: 10px;
        @media (max-width: 650px) {
            height: 36px;
            font-size: 16px;
            line-height: 150%;
            padding: 2px 12px 2px 14px;
        }
        span {
            margin-top: -2px;
            display: -webkit-box;
            -webkit-line-clamp: 1;
            -webkit-box-orient: vertical;
            overflow: hidden;
        }
    }

    // .form-select__arrow

    &__arrow {
        z-index: 13;
        width: 16px;
        height: 16px;
        flex: 0 0 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;
        &::after {
            content: "";
            display: block;
            background-image: url("data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTMiIGhlaWdodD0iOSIgdmlld0JveD0iMCAwIDEzIDkiIGZpbGw9Im5vbmUiIHhtbG5zPSJodHRwOi8vd3d3LnczLm9yZy8yMDAwL3N2ZyI+CiAgPHBhdGggZD0iTTExLjQ1OTIgMEwxLjAwMTc4IDBDMC4xNjYyNzMgMCAtMC4zMDA4MiAwLjk2Mzg2NyAwLjIxNjg5OCAxLjYxOTY0TDUuNjI1OTMgOC40NzEwOEM2LjAzNDgyIDguOTg5MDEgNi44MjQ0MyA4Ljk3NTg4IDcuMjE1ODcgOC40NDQ2NEwxMi4yNjQzIDEuNTkzMkMxMi43NTA4IDAuOTMyOTM1IDEyLjI3OTQgMCAxMS40NTkyIDBaIiBmaWxsPSIjQTNBQ0I1IiAvPgo8L3N2Zz4=");
            width: 13px;
            height: 9px;
            background-repeat: no-repeat;
            background-size: contain;
            transition: transform 0.3s;
            @media (max-width: 650px) {
                width: 10px;
                height: 7px;
            }
        }
    }

    // .form-select__dropdown

    &__dropdown {
        position: absolute;
        top: 100%;
        width: 100%;
        left: 0;
        box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.12);
        background: #fff;
        border: 1px solid #d9d9d9;
        border-radius: 12px;
        margin: 5px 0px 0px 0px;
        opacity: 0;
        pointer-events: none;
        transition: opacity 0.3s;
        @media (max-width: 650px) {
            margin: 4px 0px 0px 0px;
        }
    }

    // .form-select__simplebar

    &__simplebar {
        max-height: 350px;
        @media (max-width: 650px) {
            max-height: 250px;
        }
        .simplebar-track.simplebar-vertical {
            top: 9px;
            bottom: 9px;
            right: 6px;
        }
    }

    // .form-select__body

    &__body {
    }

    // .form-select__column

    &__column {
        ul {
            li {
                a {
                }
            }
        }
    }

    // .form-select__title

    &__title {
        font-weight: 600;
        font-size: 16px;
        line-height: 125%;
        color: #1a1a1a;
        padding: 23px 16px 8px 20px;
        @media (max-width: 650px) {
            font-size: 14px;
            line-height: 114%;
            padding: 18px 16px 8px 16px;
        }
    }
}

.checkbox {
    position: relative;
    &.disabled {
        pointer-events: none;
        .checkbox__text {
            color: #8c8c8c;
        }
    }
    // .checkbox__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .checkbox__label .checkbox__icon {
            background-color: #f26135;
            border: 1px solid #f26135;
        }
        &:checked + .checkbox__label .checkbox__icon svg {
            opacity: 1;
        }
    }

    // .checkbox__label

    &__label {
        cursor: pointer;
        display: flex;
        align-items: center;
        gap: 12px;
    }

    // .checkbox__icon

    &__icon {
        border-radius: 4px;
        background-color: #f8f8f8;
        border: 1px solid #b7bfc7;
        width: 18px;
        height: 18px;
        flex: 0 0 18px;
        display: flex;
        justify-content: center;
        align-items: center;
        transition:
            background-color 0.3s,
            border;
        svg {
            fill: none;
            color: #fff;
            stroke: #fff;
            opacity: 0;
            transition: opacity 0.3s;
        }
    }

    // .checkbox__text

    &__text {
        white-space: nowrap;
        font-weight: 400;
        font-size: 15px;
        line-height: 133%;
        strong{
            font-weight: 400;
            color: #000;
        }
        @media (max-width: 750px) {
            font-size: 14px;
            line-height: 114%;
        }
    }
}

.options {
    // .options__item

    &__item {
        position: relative;
        margin: 0px 0px 0px 0px !important;
        width: 100%;
    }

    // .options__input

    &__input {
        position: absolute;
        width: 0;
        height: 0;
        opacity: 0;
        &:checked + .options__label .options__icon {
            opacity: 1;
        }
        &:hover + .options__label {
            color: #000;
            background-color: #f0f2f4;
        }
    }

    // .options__label

    &__label {
        cursor: pointer;
        display: flex;
        justify-content: space-between;
        align-items: center;
        gap: 10px;
        padding: 8px 16px 9px 44px;
        width: 100%;
        &.options-label2 {
            padding: 8px 16px 9px 20px;
            @media (max-width: 650px) {
                padding: 9.3px 12px 9px 16px;
            }
        }
        @media (max-width: 650px) {
            padding: 9.3px 12px 9px 32px;
        }
    }

    // .options__text

    &__text {
        display: flex;
        width: 100%;
        font-weight: 400;
        font-size: 15px;
        line-height: 120%;
        transition:
            background-color 0.3s,
            color 0.3s;
        @media (max-width: 650px) {
            font-size: 14px;
            line-height: 114%;
        }
    }

    // .options__icon

    &__icon {
        flex: 0 0 16px;
        width: 16px;
        height: 16px;
        display: flex;
        justify-content: center;
        align-items: center;
        opacity: 0;
        transition: opacity 0.3s;
        svg {
            fill: none;
            stroke: #424242;
            color: #424242;
        }
    }
}

.quantity {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 36px;
    background: #f5f5f5;
    align-items: center;
    border: 1px solid #d9d9d9;
    border-radius: 40px;
    padding: 8px 12px;
    gap: 10px;
    @media (max-width: 700px) {
        height: 28px;
        padding: 6px 8px;
    }
    // .quantity__button
    &__button {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 20px;
        height: 20px;
        flex: 0 0 20px;
        border-radius: 50%;
        cursor: pointer;
        background-color: transparent;
        @media (max-width: 700px) {
            width: 16px;
            height: 16px;
            flex: 0 0 16px;
        }
        &:hover {
            svg {
                stroke: #1a1a1a;
                color: #1a1a1a;
            }
        }
        &.disabled {
            pointer-events: none;
        }
        svg {
            fill: none;
            stroke: #424242;
            transition:
                stroke 0.3s,
                color 0.3s;
            @media (max-width: 700px) {
                width: 14px;
                height: auto;
            }
        }
    }
    // .quantity__input
    &__input {
        flex: 1 1 auto;
        input {
            height: 100%;
            text-align: center;
            width: 100%;
            font-weight: 600;
            font-size: 18px;
            line-height: 111%;
            text-align: center;
            @media (max-width: 700px) {
                font-size: 14px;
                line-height: 143%;
            }
        }
    }
}
