:root {
  --container-width: 1500px;
  --container-padding: 60px;
  --black: #424242;
  --theme-color-accent: #f26135;

  --font-family: "OpenSans", sans-serif;
  --second-family: "Roboto", sans-serif;
}
